<section class="row">
    <div class="row m0 contentRow offre_analyse">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Analyse gratuite de votre site web</h2>
                    <p>Demandez à nos expects de faire une analyse gratuite de votre site web. Après quelques heures vous recevez un rapport détaillé avec les points que vous devez améliorer pour optimiser au mieux votre site.</p>
                    <ul class="nav">
                        <li><div class="icon-bullets"><svg class="icon-book-dowload-streamline"><use xlink:href="/assets/img/theme-icons.svg#icon-book-dowload-streamline"></use></svg><span>Recevez un rapport détaillé.</span></div></li>
                        <li><div class="icon-bullets"><svg class="icon-settings-streamline"><use xlink:href="/assets/img/theme-icons.svg#icon-settings-streamline"></use></svg>Les solutions sont triées par difficulté et priorité.</div></li>
                        <li><div class="icon-bullets"><svg class="icon-arrow-streamline-target"><use xlink:href="/assets/img/theme-icons.svg#icon-arrow-streamline-target"></use></svg>Les explications sont claires et personnalisées.</div></li>
                        <li><div class="icon-bullets"><svg class="icon-bubble-love-streamline-talk"><use xlink:href="/assets/img/theme-icons.svg#icon-bubble-love-streamline-talk"></use></svg>L'analyse de votre site est 100% gratuite.</div></li>
                    </ul>
                    <a href="/analyse-web/" class="borderred_link fleft quote_btn"><span>Analyser mon site</span></a>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="/assets/img/analyse-large.png" >
                </div>
            </div>
        </div>
    </div>
</section>

