<section class="container bannercontainer">
    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <h2>Conseils et tutos pour r&eacute;ussir votre site web</h2>
                <h3>Grâce à nos articles et nos ressources gratuites, nous pouvons vous aider à réaliser, optimiser et monétiser votre site web.</h3>
            </div>
            <div class="col-sm-6">
                <img src="/assets/img/slide-grow.png" alt="">
            </div>   
        </div>
    </div> 
</section>