<section class="featured-on section-spacing text-center">
  <div class="container">
    <header class="section-header">
      <h2>We Are Featured On</h2>
    </header>
    <div class="row">
      <div class="col-md-12">
        <ul class="featured-sites">
          <li><a href="" title="Site Name"><img src="img/site-1.png" alt="site"></a> </li>
          <li><a href="" title="Site Name"><img src="img/site-2.png" alt="site"></a></li>
          <li><a href="" title="Site Name"><img src="img/site-3.png" alt="site"></a></li>
          <li><a href="" title="Site Name"><img src="img/site-4.png" alt="site"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>