<section class="row contentRow">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 feature_cols">
                <div class="media feature_col">
                    <div class="media-left"><a href="#"><svg class="icon-bulb"><use xlink:href="/assets/img/theme-icons.svg#icon-bulb"></use></svg></a></div>
                    <div class="media-body">
                        <h3><a href="">10 idées de site pour gagner de l'argent</a></h3>
                        <p>Des idées de site web fraiches à commencer sans plus tarder</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 feature_cols">
                <div class="media feature_col">
                    <div class="media-left"><a href="#"><svg class="icon-dashboard-speed-streamline"><use xlink:href="/assets/img/theme-icons.svg#icon-dashboard-speed-streamline"></use></svg></a></div>
                    <div class="media-body">
                        <h3><a href="/optimiser-wordpress-performances/">Comment optimiser son blog WordPress</a></h3>
                        <p>Guide complet pour comprendre comment faire un blog facilement.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 feature_cols">
                <div class="media feature_col">
                    <div class="media-left"><a href="#"><svg class="icon-wordpress"><use xlink:href="/assets/img/theme-icons.svg#icon-wordpress"></use></svg></a></div>
                    <div class="media-body">
                        <h3><a href="">Comment devenir un pro de WordPress</a></h3>
                        <p>Toutes nos astuces et tuto pour devenir un pro de WordPress.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>