<!--welcome message-->
  
  <section class="container text-center welcome-message">
    <div class="row">
      <div class="col-md-12">
        <h1>Comment cr&eacute;e et entretenir un site internet</h1>
        <h2>Decouvrez comment crer un site a success depuis un simple idee jusqu'au marketing complet</h2>
        <div class="play-btn"> <a href="https://vimeo.com/109054393" class="play litebox-hero"><img src="img/play-btn.png" alt="play"></a> </div>
        <div class="cta-btn"> <a href="#" class="btn">Commencer son site internet</a>
          <p><span class="total-number-1">0</span>K Worldwide Signups</p>
        </div>
      </div>
    </div>
  </section>
  
  <!--welcome message end--> 
