<div class="col-sm-3 sidebar">
    <div class="widget row post_cats">
        <h4 class="widget_title">Post Category</h4>
        <ul class="nav post_cat">
            <li><a href="#">Stylish Looks</a></li>
            <li><a href="#">Fashion of the week</a></li>
            <li><a href="#">Summer Special</a></li>
            <li><a href="#">Offers &amp; Discounts</a></li>
            <li><a href="#">Seller of the day</a></li>
            <li><a href="#">Best reviews</a></li>
        </ul>
    </div>
    <div class="widget row recent_posts">
        <h4 class="widget_title">Recent Post</h4>
        <div class="media-group">
            <div class="row m0 recent_post">
                <div class="fleft links">
                    <a href="single-post.html" class="post_title">Beritatis et Quasi Arcte veata solar Vitae</a><br>
                    <a href="single-post.html" class="post_meta">May 28, 2015</a>
                </div>
                <div class="fleft post_img">
                    <a href="#"><img src="images/blog/recent/1.jpg" alt=""></a>                           
                </div>
            </div> <!--Recent Post-->
        </div>
    </div>                    
    <div class="widget row post_cats">
        <h4 class="widget_title">Archive</h4>
        <ul class="nav post_cat">
            <li><a href="#">May 2015 (4)</a></li>
            <li><a href="#">January 2015 (5)</a></li>
            <li><a href="#">December 2014 (6)</a></li>
            <li><a href="#">October 2014 (8)</a></li>
        </ul>
    </div>                   
    <div class="widget row top_tags">
        <h4 class="widget_title">Top Tags</h4>
        <a href="#">Install</a>
        <a href="#">Digital</a>
        <a href="#">Growth</a>
        <a href="#">Strategy</a>
        <a href="#">Marketing</a>
        <a href="#">SEO</a>
        <a href="#">Mobile Apps</a>
        <a href="#">Drag &amp; Drop</a>
    </div>
</div>