.title-banner {
	background-color: $primary-color;
	color: white;
	margin-bottom: 20px;
	h1 {
		color: white;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	a {
		color: white;
	}
	a:hover, a:visited {
		color: white;
		text-decoration: underline;
	}

}

.single {
	line-height: 1.7;
	ul, li {
		list-style: square;
		margin-left: 1em;
	}
}
.post-meta {
		color: $light-text-color;
		font-size: 15px;
	.post-categories ul, .post-categories li {
		list-style: none;
		margin-left: 0;
	}
}
.single ul, .single li {
	
}
.single h2, .single h2 a  {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: none;
    border-bottom: 2px solid $title-color;
    color: $title-color;
    padding-bottom: 10px;
    
}
.single h3, .single h3 a {
    color: $title-color;
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

.single p, .single ul, .single pre {
	margin-bottom: 35px;
}
.single img {
	margin-bottom: 35px;
	margin-top: 20px;
}
.related-post li{
	list-style: none;
	margin-bottom: 10px;
}
.related-post h5 {
	font-size: 200%;
	margin-top: 20px;
	margin-bottom: 20px;
}