$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 20px;
$dark-background-color: #ebebeb;
$logo-bg-color: #e67e22;


// colors
$primary-color: #f56363;
$text-color: #4c4c4c;
$title-color: #4c4c4c;
$link-color: #f56363;
$link-color-hover: #333;
$light-background-color: #ffffff;
$light-text-color: #b0b0b0;
$icon-background: #f56363;

$jaune-fluo: #f7ff00;
